/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

.logo {
  float: left;
}

.logo img {
  height: 80px;
}

.nav-right {
  float: right;
}

.nav-right li {
  display: inline-block;
  padding: 13px 15px;
}

nav {
  background: #000;
  height: 80px;
  color: #fff;
}

#footer {
  background: #000;
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

main {
  padding:15px;
}